
@font-face {
  font-family: "Flama";
  src: url("../fonts/flama/Flama-Book.woff") format("woff"),
       ;
}

@font-face {
  font-family: "Flama-italic";
       url("../fonts/flama/Flama-Italic.woff") format("woff"),
       url("../fonts/flama/Flama-Italic.woff2") format("woff2")
       ;
}

@font-face {
  font-family: "United";
  src: url("../fonts/united/UnitedMedium.woff") format("woff"),
       url("../fonts/united/UnitedMedium.woff2") format("woff2")
       ;
}

@font-face {
  font-family: "United-md";
       url("../fonts/united/UnitedSansRgMd.woff") format("woff"),
       url("../fonts/united/UnitedSansRgMd.woff2") format("woff2")
       ;
}



body {
	font-size: 16px;
	margin: 0;
	/*font-family: 'Roboto', sans-serif;*/
    font-family:'Flama', 'Roboto', sans-serif;
}

/*TOPO*/
.topo {
	background: #333;
	position: relative;
	display: contents;
}
.topo header {
	position: fixed;
	width: 100%;
	padding: 1rem 2rem;
	z-index: 9999;
	transition: background .41s;
}
.topo header.fixed-top {
	position: fixed;
	z-index: 9999;
	background: rgb(249, 249, 249);
	transition: background .41s;
}

.topo header.fixed-top rect#log1 {
	fill: #142d61;
}
.topo header.fixed-top rect#log2 {
	fill: #142d61;
}
.topo header.fixed-top path#log3 {
	fill: #142d61;
}
.topo header.fixed-top path#log4 {
	fill: #142d61;
}
.topo header.fixed-top path#log5 {
	fill: #142d61;
}
.topo header.fixed-top path#log6 {
	fill: #142d61;
}
.topo header.fixed-top path#log7 {
	fill: #142d61;
}
.topo header.fixed-top path#log8 {
	fill: #142d61;
}
.topo header.fixed-top path#log9 {
	fill: #142d61;
}
.topo header.fixed-top path#log10 {
	fill: #142d61;
}
.topo header.fixed-top path#log11 {
	fill: #142d61;
}
.topo header.fixed-top path#log12 {
	fill: #142d61;
}

.topo header.fixed-top .call-menu .sanduiche path {
	fill: #142d61;
}

.topo.topo-internas header {
	position: fixed;
	z-index: 9999;
	background: rgb(249, 249, 249);
	transition: background .41s;
}

.topo-internas header rect#log1 {
	fill: #142d61;
}
.topo-internas header rect#log2 {
	fill: #142d61;
}
.topo-internas header path#log3 {
	fill: #142d61;
}
.topo-internas header path#log4 {
	fill: #142d61;
}
.topo-internas header path#log5 {
	fill: #142d61;
}
.topo-internas header path#log6 {
	fill: #142d61;
}
.topo-internas header path#log7 {
	fill: #142d61;
}
.topo-internas header path#log8 {
	fill: #142d61;
}
.topo-internas header path#log9 {
	fill: #142d61;
}
.topo-internas header path#log10 {
	fill: #142d61;
}
.topo-internas header path#log11 {
	fill: #142d61;
}
.topo-internas header path#log12 {
	fill: #142d61;
}

.topo.topo-internas header .call-menu .sanduiche path {
	fill: #142d61;
}

.topo .video-ifly video {
	width: 100%;
}

.topo .social-ifly {
	position: absolute;
	right: 2rem;
	top: 0;
	height: 100vh;
	z-index: 9998;
}
.topo .social-ifly a {
	margin: 1rem 0;
	transition: transform .41s;
}
.topo .social-ifly a:hover {
	transform: scale(1.3);
}
.topo .social-ifly ul {
	list-style: none;
	padding-left: 0;
	border: 2px solid #ffffff7d;
	border-radius: 20px;
	padding: 14px 14px 14px 17px;
	background: rgba(0, 0, 0, 0.28);
}

.topo .nk-awb-wrap {
	margin-right: 0 !important;
}

/*GERAL*/
.topo .social-ifly ul li a {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-worldwide.svg);
	height: 30px;
	width: 30px;
	display: block;
	background-repeat: no-repeat;
	text-indent: -99999px;
	overflow: hidden;
}
.topo .social-ifly ul li a[href^="http://"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-worldwide.svg);
}
.topo .social-ifly ul li a[href^="https://"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-worldwide.svg);
}

/*INSTAGRAM*/
.topo .social-ifly ul li a[href^="http://instagram"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-instagram.svg);
}
.topo .social-ifly ul li a[href^="https://instagram"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-instagram.svg);
}
.topo .social-ifly ul li a[href^="http://www.instagram"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-instagram.svg);
}
.topo .social-ifly ul li a[href^="https://www.instagram"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-instagram.svg);
}

/*YOUTUBE*/
.topo .social-ifly ul li a[href^="http://youtube"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-youtube.svg);
	background-position: 0 5px;
}
.topo .social-ifly ul li a[href^="https://youtube"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-youtube.svg);
	background-position: 0 5px;
}
.topo .social-ifly ul li a[href^="http://www.youtube"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-youtube.svg);
	background-position: 0 5px;
}
.topo .social-ifly ul li a[href^="https://www.youtube"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-youtube.svg);
	background-position: 0 5px;
}

/*FACEBOOK*/
.topo .social-ifly ul li a[href^="http://facebook"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-facebook.svg);
}
.topo .social-ifly ul li a[href^="https://facebook"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-facebook.svg);
}
.topo .social-ifly ul li a[href^="http://www.facebook"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-facebook.svg);
}
.topo .social-ifly ul li a[href^="https://www.facebook"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-facebook.svg);
}

/*LINKEDIN*/
.topo .social-ifly ul li a[href^="http://linkedin"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-linkedin.svg);
}
.topo .social-ifly ul li a[href^="https://linkedin"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-linkedin.svg);
}
.topo .social-ifly ul li a[href^="http://www.linkedin"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-linkedin.svg);
}
.topo .social-ifly ul li a[href^="https://www.linkedin"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-linkedin.svg);
}

/*WHATSAPP*/
.topo .social-ifly ul li a[href^="http://whatsapp"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-whatsapp.svg);
}
.topo .social-ifly ul li a[href^="https://whatsapp"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-whatsapp.svg);
}

/*TWITTER*/
.topo .social-ifly ul li a[href^="http://twitter"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-twitter.svg);
}
.topo .social-ifly ul li a[href^="https://twitter"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-twitter.svg);
}
.topo .social-ifly ul li a[href^="http://www.twitter"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-twitter.svg);
}
.topo .social-ifly ul li a[href^="https://www.twitter"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/ico-twitter.svg);
}

.topo .call-menu .sanduiche {
	padding: 1rem 1.6rem 1rem 0rem;
	color: #fff;
	cursor: pointer;
}
.topo .call-menu .menu-ifly {
	position: absolute;
	top: 0;
	left: -110%;
	background: #f4f4f4;
	height: 100vh;
	min-width: 280px;
	transition: left .41s;
	overflow: auto;
}
.topo .call-menu .menu-ifly ul {
	list-style: none;
	padding-left: 0;
}
.topo .call-menu .menu-ifly ul li a {
	border-bottom: 1px solid #e0e0e0;
	padding: 0.8rem 1rem 0.8rem 2.3rem;
	display: inline-block;
	width: 100%;
	color: #000;
}

.topo .call-menu .menu-ifly ul li a.comprar {
	color: white;
}

.topo .call-menu .menu-ifly ul li.menu-comprar {
	font-size: 0.8rem;
	margin-top: -16px;
}

.topo header .call-buy a {
	background: #e72d2d;
	color: #fff !important;
	padding: 0.425rem 0.9rem;
	display: block;
	font-size: 1.1em;
	transition: background .41s;
    text-transform: uppercase;
    margin-top: 0.5rem;
}
.topo header .call-buy a:hover {
	text-decoration: none;
	background: #b81f1f;
}
.topo header .call-buy a svg {
	margin-left: 1rem;
	margin-top: -3px;
}
.topo .menu-ativo {
	left: 0 !important;
	transition: left .41s;
}
.topo .close-menu {
	padding: 2.4rem 2.6rem;
}

/*SUBMENU*/
.topo .call-menu .menu-ifly ul li ul {
	display: none;
}
.topo .call-menu .menu-ifly ul li ul li a {
	background: #fff;
	padding-left: 3.5rem;
}
.topo .call-menu .menu-ifly ul li {
	position: relative;
}
.topo .call-menu .menu-ifly ul li.menu-item-has-children > a:after {
	content: "";
	position: absolute;
	height: 30px;
	width: 30px;
	background: url(/wp-content/themes/iflyBrasil/img/subnivel.svg) no-repeat;
	right: 8px;
	transition: transform .4s;
}

.topo .call-menu .menu-ifly ul li.menu-item-has-children.menu-seta > a:after {
	transform: rotate(-90deg) translate(18px, 0px);
	transition: transform .4s;
}

/*INTERNAS*/
.box-interna {
	padding-top: 10rem;
}
.box-interna .container {
	max-width: 1317px;
}
.box-interna h2 {
	font-family: "United";
	font-size: 5em;
	text-transform: uppercase;
	font-weight: 800;
    font-size: 4em;
	border-bottom: 6px solid #142d61;
}
.box-interna h3 {
	font-size: 3em;
	font-weight: 700;
	margin-bottom: 2rem;
	color: #142d61;
}
.box-interna h4 {
	font-size: 2.2em;
	font-weight: 600;
	margin-bottom: 2rem;
}

.box-interna .wp-block-quote {
	background: #f8f8f8;
	text-align: center;
	padding: 2rem 2rem 1rem 2rem;
	font-size: 1.2em;
}

.mapa-google iframe {
	width: 100% !important;
}
.video100 video {
	width: 100%;
}
.box-interna .lista-unidades iframe {
	width: 100% !important;
}

.img-unidade img {
	width: inherit;
}

.card-unidade-detalhe {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #142d61;
}

.ver-todos {
	justify-content: flex-end;
	padding-top: 30px;
}

/*HASHTAG*/
.hashtag {
	text-align: center;
	font-size: 5em;
	color: #000;
	padding: 4rem 2rem;
    font-family: "United";
}

.hashtag span {
    width: 100%;
    display: block;
    font-size: 0.3em;
    font-family: 'Flama', 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.hashtag a {
	color: #000;
}

/*MODALIDADES*/
.modalidades {
	margin-bottom: 6rem;
}
.modalidades .container {
	max-width: 1317px;
}
.modalidades .modalidade-ifly {
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
}
.modalidades .modalidade-ifly p{
font-weight: 300;
}
.modalidades .modalidade-ifly .modadalidade-chamada {
	position: absolute;
	background: #fff;
	width: 90%;
	min-height: 200px;
	right: 0;
	bottom: 0;
	padding: 1rem;
	color: #000;
}
.modalidades .modalidade-ifly .modadalidade-chamada:hover {
	text-decoration: none;
}
.modalidades .modalidade-ifly .modadalidade-chamada .modalidade-tit {
	font-size: 2.2em;
	font-weight: 600;
	margin-bottom: 1rem;
}
.modalidades .modalidade-ifly .modadalidade-chamada .modalidade-seta {
	transition: margin-right .41s;
    background: #e72d2d;padding: .7rem 1.2rem .7rem 1.2rem; color: #fff;text-transform: uppercase;
}
.modalidades .modalidade-ifly .modadalidade-chamada:hover .modalidade-seta {
	margin-right: -10px;
	transition: margin-right .41s;
}

.modalidades .modalidade-ifly .modadalidade-chamada .modalidade-seta svg {
margin-left: .5rem;
}

/*COMPRA*/
.compra {
	text-align: center;
	padding: 12em 0;
	background-size: cover;
	background-attachment: fixed !important;
	margin-bottom: 6rem;
}
.compra a {
	background: #e72d2d;
	padding: 2rem 4rem;
	font-size: 1.3em;
	color: #fff;
	display: inline-block;
	transition: transform .41s;
}
.compra a:hover {
	transform: translateY(-5px);
	text-decoration: none;
}
.compra a svg {
	margin-left: 1rem;
	margin-top: -3px;
}

/*IFLY*/
.ifly {
	/* background: url(img/iflybg.jpg) no-repeat top; */
	padding: 7rem 0 7rem 0;
	margin-bottom: 5rem;
	background-size: cover;
	color: #fff;
}
.ifly h2 {
	font-weight: 800;
    font-size: 4em;
    font-family: "United";
}
.ifly .container {
	max-width: 1317px;
}
.ifly ul {
	list-style: none;
	padding-left: 0;
	margin: 3rem 0 1rem 0;
	width: 100%;
}
.ifly ul li {
	float: left;
	padding: 1rem 1.3rem;
	background: rgba(255, 255, 255, 0.12);
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: .5em;
}
.ifly p {
	font-size: 1.3em;
}

/*EQUIPE*/

.equipe {
	background: #f0f3f5;
	padding: 7rem 0 5rem 0;
	margin-bottom: 5rem;
}
.equipe h2 {
	font-weight: 800;
    font-size: 4em;
	color: #e72d2d;
}
.equipe .container {
	max-width: 1317px;
}
.equipe .membro {
	margin-bottom: 3rem;
	transition: transform .4s;
	text-align: center;
}
.equipe .membro img {
	border-radius: 220px 220px 220px 220px;
	filter: grayscale(1);
	transition: box-shadow .4s;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.);
	margin-bottom: .8rem;
	border: 0px solid #fff;
}
.equipe .membro:hover {
	transform: scale(1.06);
}
.equipe .membro:hover img {
	box-shadow: 2px 12px 14px rgba(0, 0, 0, 0.1607843137254902);
	filter: grayscale(0);
}
.equipe .membro:hover span {
	color: #e72d2d;
}
.equipe .membro span {
	transition: color .4s;
	width: 100%;
	display: block;
}
.equipe p {
	font-size: 1.3em;
}


.eb-accordion-title-wrapper {padding: 0.6rem!important;}

/*tripadvisor*/

.tripadvisor {
	padding: 7rem 0 5rem 0;
	margin-bottom: 5rem;
}
.tripadvisor h2 {
	font-weight: 800;
    font-size: 4em;
}
.tripadvisor .container {
	max-width: 1317px;
}


/*instagram*/

.instagram {
	padding: 1rem 0 2rem 0;
	margin-bottom: 5rem;
}
.instagram h2 {
	font-weight: 700;
	font-size: 3em;
}
.instagram .container {
	max-width: 1317px;
}


/*UNIDADES*/
.unidades {
	padding: 1rem 0 2rem 0;
	
	display: block;
	width: 100%;
	background: #f0f3f5;
}

.unidades h2 {
	font-weight: 700;
	font-size: 3em;
	color: #142d61;
	margin-bottom: 2rem;
}

.unidades .container {
	max-width: 1317px;
}
.unidades .unidade-tit {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 1rem;
	display: block;
	width: 100%;
}
.unidades .unidade-map {
	margin-bottom: 1rem;
	display: block;
	width: 100%;
	    overflow: hidden;
}
.unidades .unidade-map iframe {
	width: 400px;
	height: 300px;
}
.unidades .unidade-endereco {
	margin-bottom: 1rem;
	display: block;
	width: 100%;
}
.unidades .unidade-redes {
	margin-bottom: 1rem;
	display: block;
	width: 100%;
}

/*CONTATOS*/
.contatos {
	padding-top: 3rem;
}
.contatos .contatos-redes ul {
	list-style: none;
	padding-left: 0;
}
.contatos .contatos-redes ul li a {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-worldwide.svg);
	height: 30px;
	width: 30px;
	display: block;
	background-repeat: no-repeat;
	text-indent: -99999px;
	overflow: hidden;
	margin: 0 1rem;
}
/*GERAL*/

.contatos .contatos-redes ul li a[href^="http://"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-worldwide.svg);
}
.contatos .contatos-redes ul li a[href^="https://"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-worldwide.svg);
}

/*INSTAGRAM*/
.contatos .contatos-redes ul li a[href^="http://instagram"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-instagram.svg);
}
.contatos .contatos-redes ul li a[href^="https://instagram"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-instagram.svg);
}
.contatos .contatos-redes ul li a[href^="http://www.instagram"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-instagram.svg);
}
.contatos .contatos-redes ul li a[href^="https://www.instagram"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-instagram.svg);
}


/*LINKEDIN*/
.contatos .contatos-redes ul li a[href^="http://linkedin"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-linkedin.svg);
}
.contatos .contatos-redes ul li a[href^="https://linkedin"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-linkedin.svg);
}
.contatos .contatos-redes ul li a[href^="http://www.linkedin"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-linkedin.svg);
}
.contatos .contatos-redes ul li a[href^="https://www.linkedin"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-linkedin.svg);
}


/*YOUTUBE*/
.contatos .contatos-redes ul li a[href^="http://youtube"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-youtube.svg);
	background-position: 0 5px;
}
.contatos .contatos-redes ul li a[href^="https://youtube"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-youtube.svg);
	background-position: 0 5px;
}
.contatos .contatos-redes ul li a[href^="http://www.youtube"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-youtube.svg);
	background-position: 0 5px;
}
.contatos .contatos-redes ul li a[href^="https://www.youtube"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-youtube.svg);
	background-position: 0 5px;
}

/*FACEBOOK*/
.contatos .contatos-redes ul li a[href^="http://facebook"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-facebook.svg);
}
.contatos .contatos-redes ul li a[href^="https://facebook"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-facebook.svg);
}
.contatos .contatos-redes ul li a[href^="http://www.facebook"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-facebook.svg);
}
.contatos .contatos-redes ul li a[href^="https://www.facebook"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-facebook.svg);
}

/*WHATSAPP*/
.contatos .contatos-redes ul li a[href^="http://whatsapp"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-whatsapp.svg);
}
.contatos .contatos-redes ul li a[href^="https://whatsapp"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-whatsapp.svg);
}

/*TWITTER*/
.contatos .contatos-redes ul li a[href^="http://twitter"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-twitter.svg);
}
.contatos .contatos-redes ul li a[href^="https://twitter"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-twitter.svg);
}
.contatos .contatos-redes ul li a[href^="http://www.twitter"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-twitter.svg);
}
.contatos .contatos-redes ul li a[href^="https://www.twitter"] {
	background-image: url(/wp-content/themes/iflyBrasil/img/icob-twitter.svg);
}

/*BANNER*/
.carousel {opacity: 1!important}

.carousel-control-prev,
.carousel-control-next {
	opacity: 0;
	transition: opacity .3s;
}
.carousel-control-prev:focus,
.carousel-control-next:focus {
	opacity: 0;
	transition: opacity .3s;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
	opacity: 1;
}
.carousel-inner:hover + .carousel-control-next + .carousel-control-prev {
	z-index: 999;
	opacity: 1;
}
.carousel-inner:hover + .carousel-control-next {
	z-index: 999;
	opacity: 1;
}

/*FOOTER*/

#bitnami-banner {
	display: none;
}

footer {
	background: #fff;
	padding: 6rem 0 0 0;
	text-align: center;
}

footer:before {
	content: " ";
	display: block;
	height: 6px;
	width: 100%;
	background-image: linear-gradient(to right, #142d61, #3152ce 53%, #519af1);
	margin-bottom: 4rem;
}
footer svg {
	margin-bottom: 4rem;
}

footer .contatos-redes {
	width: 100%;
	float: left;
}

footer #menu-menu-rodape {
	list-style: none;
	padding-left: 0;
	width: 100%;
	float: left;
}
footer #menu-menu-rodape li {
	float: left;
	width: 33.33%;
	text-align: left;
}
footer #menu-menu-rodape li a {
	font-weight: 400;
	color: #b0b2b7;
	margin-bottom: .5em;
	display: block;
	font-size: 13px;
}
footer #menu-menu-rodape li a:hover {
	text-decoration: none;
	cursor: default;
}
footer #menu-menu-rodape li ul {
	list-style: none;
	padding-left: 0;
	display: block;
}
footer #menu-menu-rodape li ul li {
	list-style: none;
	padding-left: 0;
	display: block;
	width: 100%;
}
footer #menu-menu-rodape li ul li a {
	color: #1c1e25;
	text-transform: uppercase;
	font-size: 15px;
}
footer #menu-menu-rodape li ul li a:hover {
	cursor: pointer;
}

footer .assinatura {
	background: #142d61;
	padding: 1.1rem 0;
	color: #fff;
	text-align: center;
	font-size: .8em;
	margin-top: 3rem;
	width: 100%;
	float: left;
}

@media (max-width: 812px) {
	.topo.topo-internas header {
		position: absolute;
	}
	.topo header {
		position: absolute;
	}
	.topo header.fixed-top {
		position: absolute;
	}
}

@media (max-width: 600px) {
	body {
		font-size: 13px;
	}
	body.body-fixed {
		overflow: hidden;
	}
	.hashtag {
		font-size: 3em;
	}
	.topo header {
		position: absolute;
	}
	.topo header.fixed-top {
		position: absolute;
	}
	.topo.topo-internas header {
		position: absolute;
	}
	.topo .call-menu .menu-ifly {
		width: 100%;
	}
	.topo .logo-ifly {
		text-align: center;
	}
	.topo .logo-ifly svg {
		width: 200px;
	}
	.topo .video-ifly {
		overflow: hidden;
	}
	.topo .video-ifly video {
		width: 270%;
	}
	.topo .call-buy {
		width: 100%;
		margin-top: 2rem;
	}
	.topo .social-ifly {
		top: 280px;
		width: 100%;
		text-align: center;
		right: 0;
	}
	.topo .social-ifly a {
		margin: .4rem 1rem .2rem 1rem;
	}
	.contatos {
		padding: 0 2rem;
	}
	.contatos .contatos-redes {
		margin-top: 2rem;
	}

	.box-interna {
		padding-top: 19rem;
	}
	footer #menu-menu-rodape li {
		width: 100%;
	}
}

@media (max-width: 374px) {
	.topo header {
		position: absolute;
	}
	.topo header.fixed-top {
		position: absolute;
	}
	.topo.topo-internas header {
		position: absolute;
	}
	.topo .social-ifly {
		top: 280px;
	}
}