/*! This CSS resource incorporates links to web font and font sofware which is
the valuable copyrighted property of Village and/or its suppliers. You 
expressly agree to not copy, install, redistribute, convert, modify, or reverse
engineer this font sofware or the fonts rendered thereby. Please contact 
Village with any questions regarding Web Fonts: http://www.vllg.com */

/* Flama Normal */
@font-face { font-family:'Flama'; font-style:normal; font-weight:100; src:local('Flama'), url('Flama-Thin.eot?') format('eot'), url('Flama-Thin.woff2') format('woff2'), url('Flama-Thin.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:normal; font-weight:200; src:local('Flama'), url('Flama-Ultralight.eot?') format('eot'), url('Flama-Ultralight.woff2') format('woff2'), url('Flama-Ultralight.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:normal; font-weight:300; src:local('Flama'), url('Flama-Light.eot?') format('eot'), url('Flama-Light.woff2') format('woff2'), url('Flama-Light.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:normal; font-weight:400; src:local('Flama'), url('Flama-Book.eot?') format('eot'), url('Flama-Book.woff2') format('woff2'), url('Flama-Book.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:normal; font-weight:500; src:local('Flama'), url('Flama-Basic.eot?') format('eot'), url('Flama-Basic.woff2') format('woff2'), url('Flama-Basic.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:normal; font-weight:600; src:local('Flama'), url('Flama-Medium.eot?') format('eot'), url('Flama-Medium.woff2') format('woff2'), url('Flama-Medium.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:normal; font-weight:700; src:local('Flama'), url('Flama-Semibold.eot?') format('eot'), url('Flama-Semibold.woff2') format('woff2'), url('Flama-Semibold.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:normal; font-weight:800; src:local('Flama'), url('Flama-Bold.eot?') format('eot'), url('Flama-Bold.woff2') format('woff2'), url('Flama-Bold.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:normal; font-weight:900; src:local('Flama'), url('Flama-Extrabold.eot?') format('eot'), url('Flama-Extrabold.woff2') format('woff2'), url('Flama-Extrabold.woff') format('woff'); }

/* Flama Italic */
@font-face { font-family:'Flama'; font-style:italic; font-weight:100; src:local('Flama'), url('Flama-ThinItalic.eot?') format('eot'), url('Flama-ThinItalic.woff2') format('woff2'), url('Flama-ThinItalic.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:italic; font-weight:200; src:local('Flama'), url('Flama-UltralightItalic.eot?') format('eot'), url('Flama-UltralightItalic.woff2') format('woff2'), url('Flama-UltralightItalic.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:italic; font-weight:300; src:local('Flama'), url('Flama-LightItalic.eot?') format('eot'), url('Flama-LightItalic.woff2') format('woff2'), url('Flama-LightItalic.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:italic; font-weight:400; src:local('Flama'), url('Flama-BookItalic.eot?') format('eot'), url('Flama-BookItalic.woff2') format('woff2'), url('Flama-BookItalic.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:italic; font-weight:500; src:local('Flama'), url('Flama-BasicItalic.eot?') format('eot'), url('Flama-BasicItalic.woff2') format('woff2'), url('Flama-BasicItalic.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:italic; font-weight:600; src:local('Flama'), url('Flama-MediumItalic.eot?') format('eot'), url('Flama-MediumItalic.woff2') format('woff2'), url('Flama-MediumItalic.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:italic; font-weight:700; src:local('Flama'), url('Flama-SemiboldItalic.eot?') format('eot'), url('Flama-SemiboldItalic.woff2') format('woff2'), url('Flama-SemiboldItalic.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:italic; font-weight:800; src:local('Flama'), url('Flama-BoldItalic.eot?') format('eot'), url('Flama-BoldItalic.woff2') format('woff2'), url('Flama-BoldItalic.woff') format('woff'); }
@font-face { font-family:'Flama'; font-style:italic; font-weight:900; src:local('Flama'), url('Flama-ExtraboldItalic.eot?') format('eot'), url('Flama-ExtraboldItalic.woff2') format('woff2'), url('Flama-ExtraboldItalic.woff') format('woff'); }